{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
        "Test"
    ]
  },
  "logs": {
    "text": "var\/log\/infection.log",
    "perMutator": "php://stdout",
    "stryker": {
      "badge": "main"
    }
  },
  "tmpDir": "var/cache"
}
