{
  "source": {
    "directories": [
      "src"
    ],
    "excludes": [
        "Test"
    ]
  },
  "logs": {
    "text": "var\/log\/infection.log",
    "perMutator": "php://stdout",
    "badge": {
      "branch": "main"
    }
  },
  "tmpDir": "var/cache"
}
